/* color defintions in CSS variables */
:root {
  --teal: #62929e;
  --grey: #393d3f;
  --beige: #c6c5b9;
  --blue--grey: #546a7b;
  --white: #fdfdff;
}
/* icons styling */
.bottom-icons {
  color: var(--teal);
  font-size: 28px;
  cursor: pointer;
  margin: 3px;
}
.bottom-icons:hover,
.icons:hover {
  color: var(--blue--grey);
}
.icons {
  color: var(--teal);
  font-size: 30px;
  cursor: pointer;
}
/* containers */
.app {
  display: inline-flex;
}
body {
  background: var(--white);
  color: var(--grey);
  font-family: "Roboto", sans-serif;
}
.top-container {
  position: absolute;
  width: 48vw;
  border-right: 2px solid var(--teal);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px dashed var(--teal);
  border-radius: 10px;
  height: 500px;
  width: 600px;
  font-weight: 400;
  font-size: 20px;
  margin: 10px;
  float: left;
}

.icons-container {
  position: relative;
  /* width: inherit; */
  border: 4px solid var(--teal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 10px;
  background: var(--white);
  border-radius: 10px;
}
.warning {
  font-size: 12px;
}
img {
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
  border-radius: 4px;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  float: right;
  text-align: left;
  margin: 15px;
  font-weight: 400;
  font-size: 20px;
  width: 50%;
}
